@model BlogManagmentSystem.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Blog Details</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-3">Title</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>
                        <dt class="col-sm-3">Content</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Content)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
